selfnotes.txt
components/__pycache__
params.json
test_docs
installer_files
.gradio
__pycache__
user_tools
record_manager_cache.sql
documents
metadata
original_documents
test_docs
DocPOI_db
output_chunks.txt