selfnotes.txt
components/__pycache__
params.json
setup_completed.flag
installer_files
setup.flag
.gradio
__pycache__
highlighted_output.pdf
temp.pdf
chroma_langchain_db
user_tools
record_manager_cache.sql