soundfile==0.12.1
pytesseract==0.3.10
pycountry==24.6.1
langdetect==1.0.9
opencv-python==4.10.0.84
openai-whisper==20231117
numpy==1.26.4
pynput==1.7.7
pdf2image==1.17.0
pillow==10.3.0
pydub==0.25.1
sounddevice==0.5.0
scipy==1.11.4
gradio==4.41.0
PyMuPDF==1.24.9
PyPDF2==3.0.1
langchain_core==0.2.28
langchain_community==0.2.11
langchain_experimental==0.0.62
langchain_huggingface==0.0.3
langchain==0.2.12
langchain_elasticsearch==0.2.2
coqui_tts==0.24.1
PyAudio==0.2.14